body{
    background-color: rgb(10, 10, 10);
    color: white;
    font-family: sans-serif; 
    padding: 20px;
    line-height: 1.6; 
}
p {
   color: white;
    font-size: 1.2rem; 
    text-align: justify; 
    max-width: 1500px;
    
}
img {
    display: block;
    max-width: 100%; 
    border-radius: 15px; 
}
.navbar {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    gap: 10px;
}

.tab-button {
    color: white;
    text-decoration: none; 
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: 0.3s; 
}
.tab-button:hover {
    background-color: #111010; 

}
.tab-button.active {
    background-color: #007bff;
}